<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="/thanks.css">

  <script language="javascript" type="text/javascript">
    function windowClose() {
      window.open('', '_parent', '');
      window.close();
    }
  </script>

</head>

<body>
  <div class="flex-container">
    <div class="container">
      <img class="image" src='https://imgur.com/uW3nv8Q.jpg'>
    </div>
    <h1>Thanks for signing up!</h1>
    <button class="sign-up-button" onclick="windowClose();">Click to close this window</button>
  </div>
</body>